mapseq-webapp/src/main/webapp/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="attribute" type="Attribute"/>

  <xs:element name="dictionaryEntity" type="DictionaryEntity"/>

  <xs:element name="file" type="FileData"/>

  <xs:element name="flowcell" type="Flowcell"/>

  <xs:element name="job" type="Job"/>

  <xs:element name="namedEntity" type="NamedEntity"/>

  <xs:element name="sample" type="Sample"/>

  <xs:element name="study" type="Study"/>

  <xs:element name="transferInfo" type="TransferInfo"/>

  <xs:element name="workflow" type="Workflow"/>

  <xs:element name="workflowRun" type="WorkflowRun"/>

  <xs:element name="workflowRunAttempt" type="WorkflowRunAttempt"/>

  <xs:complexType name="FileData">
    <xs:all/>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="path" type="xs:string"/>
    <xs:attribute name="mimeType" type="mimeType"/>
    <xs:attribute name="created" type="xs:dateTime"/>
  </xs:complexType>

  <xs:complexType name="Study">
    <xs:complexContent>
      <xs:extension base="DictionaryEntity">
        <xs:sequence>
          <xs:element name="samples" type="Sample" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DictionaryEntity">
    <xs:all/>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="active" type="xs:boolean"/>
    <xs:attribute name="created" type="xs:dateTime"/>
  </xs:complexType>

  <xs:complexType name="Sample">
    <xs:complexContent>
      <xs:extension base="NamedEntity">
        <xs:all>
          <xs:element name="barcode" type="xs:string" minOccurs="0"/>
          <xs:element name="laneIndex" type="xs:int" minOccurs="0"/>
          <xs:element ref="study" minOccurs="0"/>
          <xs:element ref="flowcell" minOccurs="0"/>
          <xs:element name="workflowRuns" type="WorkflowRun" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="outputDirectory" type="xs:string" minOccurs="0"/>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NamedEntity">
    <xs:all>
      <xs:element name="attributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="files" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="created" type="xs:dateTime"/>
  </xs:complexType>

  <xs:complexType name="Flowcell">
    <xs:complexContent>
      <xs:extension base="NamedEntity">
        <xs:all>
          <xs:element name="baseDirectory" type="xs:string" minOccurs="0"/>
          <xs:element name="samples" type="Sample" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="workflowRuns" type="WorkflowRun" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WorkflowRun">
    <xs:complexContent>
      <xs:extension base="NamedEntity">
        <xs:all>
          <xs:element ref="workflow" minOccurs="0"/>
          <xs:element name="attempts" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="attempt" type="WorkflowRunAttempt" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="samples" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="sample" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="flowcells" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="flowcell" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Workflow">
    <xs:complexContent>
      <xs:extension base="DictionaryEntity">
        <xs:sequence>
          <xs:element name="workflowRuns" type="WorkflowRun" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WorkflowRunAttempt">
    <xs:all>
      <xs:element ref="workflowRun" minOccurs="0"/>
      <xs:element name="condorDAGClusterId" type="xs:int" minOccurs="0"/>
      <xs:element name="submitDirectory" type="xs:string" minOccurs="0"/>
      <xs:element name="started" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dequeued" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="finished" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="jobs" type="Job" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:all>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="status" type="workflowRunAttemptStatusType"/>
    <xs:attribute name="created" type="xs:dateTime"/>
    <xs:attribute name="version" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="Job">
    <xs:complexContent>
      <xs:extension base="NamedEntity">
        <xs:all>
          <xs:element ref="workflowRunAttempt" minOccurs="0"/>
          <xs:element name="status" type="jobStatusType" minOccurs="0"/>
          <xs:element name="stdout" type="xs:string" minOccurs="0"/>
          <xs:element name="stderr" type="xs:string" minOccurs="0"/>
          <xs:element name="exitCode" type="xs:int" minOccurs="0"/>
          <xs:element name="started" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="finished" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="transfers" type="TransferInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TransferInfo">
    <xs:all>
      <xs:element name="numberOfFiles" type="xs:int" minOccurs="0"/>
      <xs:element name="bytesSent" type="xs:long" minOccurs="0"/>
      <xs:element name="transferRate" type="xs:double" minOccurs="0"/>
      <xs:element name="transferDirection" type="transferDirectionType" minOccurs="0"/>
      <xs:element ref="job" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="Attribute">
    <xs:all/>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="dictionaryEntity">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="sample">
    <xs:complexContent>
      <xs:extension base="namedEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="namedEntity">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="attribute">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="job">
    <xs:complexContent>
      <xs:extension base="namedEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="workflow">
    <xs:complexContent>
      <xs:extension base="dictionaryEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="transferInfo">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="fileData">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="study">
    <xs:complexContent>
      <xs:extension base="dictionaryEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="workflowRun">
    <xs:complexContent>
      <xs:extension base="namedEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="workflowRunAttempt">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="flowcell">
    <xs:complexContent>
      <xs:extension base="namedEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="mimeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="APPLICATION_GZIP"/>
      <xs:enumeration value="APPLICATION_BAM"/>
      <xs:enumeration value="APPLICATION_BAM_INDEX"/>
      <xs:enumeration value="APPLICATION_BIGWIG"/>
      <xs:enumeration value="APPLICATION_R"/>
      <xs:enumeration value="APPLICATION_SRF"/>
      <xs:enumeration value="APPLICATION_XLS"/>
      <xs:enumeration value="APPLICATION_POSTSCRIPT"/>
      <xs:enumeration value="APPLICATION_PDF"/>
      <xs:enumeration value="BEDGRAPH"/>
      <xs:enumeration value="BIGWIG"/>
      <xs:enumeration value="BWA_BAM"/>
      <xs:enumeration value="BWA_SAI"/>
      <xs:enumeration value="CHEMICAL_SEQ_NA_FASTA"/>
      <xs:enumeration value="CHEMICAL_SEQ_NA_FASTQ"/>
      <xs:enumeration value="COMPOSITE_EXON_COVERAGE"/>
      <xs:enumeration value="FASTQ"/>
      <xs:enumeration value="BOWTIE_HITS"/>
      <xs:enumeration value="GENE_QUANTIFICATION_TXT"/>
      <xs:enumeration value="NCRNA_COUNTS_RPKM"/>
      <xs:enumeration value="PNG_BCTREND"/>
      <xs:enumeration value="PNG_BOXPLOT"/>
      <xs:enumeration value="IMAGE_PNG"/>
      <xs:enumeration value="TEXT_GRAPHVIZ"/>
      <xs:enumeration value="TIFF"/>
      <xs:enumeration value="PNG_COVERAGE_X_TRANSCRIPT_PLOT"/>
      <xs:enumeration value="PNG_GENE_CONVERAGE_PLOT"/>
      <xs:enumeration value="PNG_NT_DISTRIBUTION"/>
      <xs:enumeration value="SJCTS"/>
      <xs:enumeration value="TEXT_ALIGN_STAT"/>
      <xs:enumeration value="TEXT_BC_FLAG"/>
      <xs:enumeration value="TEXT_BC_TREND"/>
      <xs:enumeration value="TEXT_BED"/>
      <xs:enumeration value="TEXT_COVERAGE_X_TRANSCRIPT"/>
      <xs:enumeration value="TEXT_EXON_QUANT"/>
      <xs:enumeration value="TEXT_GENE_COVERAGE"/>
      <xs:enumeration value="TEXT_GENE_QUANT"/>
      <xs:enumeration value="TEXT_JUNCTION_QUANT"/>
      <xs:enumeration value="TEXT_KEY_VALUE"/>
      <xs:enumeration value="TEXT_MAF"/>
      <xs:enumeration value="TEXT_CSV"/>
      <xs:enumeration value="TEXT_COVERAGE_DEPTH"/>
      <xs:enumeration value="TEXT_DEPTH_OF_COVERAGE_SUMMARY"/>
      <xs:enumeration value="TEXT_INTERVALS"/>
      <xs:enumeration value="TEXT_TRANCHES"/>
      <xs:enumeration value="TEXT_PILEUP"/>
      <xs:enumeration value="TEXT_PILEUP_CONSENSUS"/>
      <xs:enumeration value="TEXT_PLAIN"/>
      <xs:enumeration value="TEXT_QC_GENOME"/>
      <xs:enumeration value="TEXT_VCF"/>
      <xs:enumeration value="TEXT_RECALIBRATION"/>
      <xs:enumeration value="TEXT_QC_STAT"/>
      <xs:enumeration value="TEXT_SAM"/>
      <xs:enumeration value="TEXT_GATK_REPORT"/>
      <xs:enumeration value="TEXT_STAT_SUMMARY"/>
      <xs:enumeration value="TEXT_TRANSCRIPT_QUANT"/>
      <xs:enumeration value="TRANSCRIPT_QUANTIFICATION_TXT"/>
      <xs:enumeration value="PICARD_MARK_DUPLICATE_METRICS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="workflowRunAttemptStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HELD"/>
      <xs:enumeration value="DONE"/>
      <xs:enumeration value="PENDING"/>
      <xs:enumeration value="FAILED"/>
      <xs:enumeration value="RUNNING"/>
      <xs:enumeration value="RESET"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="jobStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DONE"/>
      <xs:enumeration value="FAILED"/>
      <xs:enumeration value="RUNNING"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="transferDirectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUT"/>
      <xs:enumeration value="GET"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

